STANDARDIZATION

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

load dataset from seaborn

In [3]:
titanic_dataset=sns.load_dataset('titanic')
titanic_dataset.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

using some feature create new dataframe

In [9]:
some_feature=titanic_dataset[['survived','pclass','age','parch']]
some_feature.head()
# "survived":- dependent feature

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

fill null values with mean values

In [11]:
filled_with_mean=some_feature.fillna(some_feature.mean())

In [15]:
X=filled_with_mean.drop("survived",axis=1)
Y=filled_with_mean["survived"]
print("X shape:",X.shape)
print("Y shape:",Y.shape)

X shape: (891, 3)
Y shape: (891,)

In [84]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=51)

In [85]:
print("shape of X_train:",X_train.shape)
print("shape of Y_train:",Y_train.shape)
print("shape of X_test:",X_test.shape)
print("shape of Y_test:",Y_test.shape)

shape of X_train: (712, 3)
shape of Y_train: (712,)
shape of X_test: (179, 3)
shape of Y_test: (179,)

use standard scaler nd fit x_train

In [99]:
sc=StandardScaler()
sc.fit(X_train)

StandardScaler()

In [100]:
print("mean of sc:",sc.mean_)
print("median of sc:",sc.scale_)

mean of sc: [ 2.30617978 29.55409121  0.39185393]
median of sc: [ 0.84405789 12.99162985  0.79647463]

In [101]:
X_train.describe()

           pclass         age       parch
count  712.000000  712.000000  712.000000
mean     2.306180   29.554091    0.391854
std      0.844651   13.000763    0.797035
min      1.000000    0.420000    0.000000
25%      1.750000   22.000000    0.000000
50%      3.000000   29.699118    0.000000
75%      3.000000   35.000000    0.000000
max      3.000000   71.000000    5.000000

In [102]:
X_train_sc=sc.transform(X_train)
X_test_sc=sc.transform(X_test)

In [103]:
X_train_sc

array([[ 0.8220055 , -0.42751304, -0.49198545],
       [ 0.8220055 ,  1.997125  , -0.49198545],
       [ 0.8220055 , -1.42815732, -0.49198545],
       ...,
       [ 0.8220055 ,  1.41983023,  3.27461284],
       [ 0.8220055 ,  0.01116307,  0.76354731],
       [ 0.8220055 , -0.08113618, -0.49198545]])

In [104]:
X_train_datset=pd.DataFrame(X_train_sc,columns=["pclass","age","parch"])
X_test_datset=pd.DataFrame(X_test_sc,columns=["pclass","age","parch"])

In [105]:
X_train_datset.head()

     pclass       age     parch
0  0.822005 -0.427513 -0.491985
1  0.822005  1.997125 -0.491985
2  0.822005 -1.428157 -0.491985
3  0.822005 -0.889349 -0.491985
4  0.822005  0.011163  2.019080

In [106]:
X_train_datset.describe().round()

       pclass    age  parch
count   712.0  712.0  712.0
mean      0.0    0.0    0.0
std       1.0    1.0    1.0
min      -2.0   -2.0   -0.0
25%      -1.0   -1.0   -0.0
50%       1.0    0.0   -0.0
75%       1.0    0.0   -0.0
max       1.0    3.0    6.0

NORMALIZATION

In [107]:
mmc=MinMaxScaler()
mmc.fit(X_train)

MinMaxScaler()

In [108]:
X_train_mmc=mmc.transform(X_train)
X_test_mmc=mmc.transform(X_test)

In [109]:
X_train_mmc

array([[1.        , 0.33408898, 0.        ],
       [1.        , 0.78039105, 0.        ],
       [1.        , 0.14990082, 0.        ],
       ...,
       [1.        , 0.67412865, 0.6       ],
       [1.        , 0.4148359 , 0.2       ],
       [1.        , 0.39784642, 0.        ]])

In [110]:
X_train_mmc_datset=pd.DataFrame(X_train_mmc,columns=["pclass","age","parch"])
X_test_mmc_datset=pd.DataFrame(X_test_mmc,columns=["pclass","age","parch"])

In [112]:
X_train_mmc_datset.describe().round()

       pclass    age  parch
count   712.0  712.0  712.0
mean      1.0    0.0    0.0
std       0.0    0.0    0.0
min       0.0    0.0    0.0
25%       0.0    0.0    0.0
50%       1.0    0.0    0.0
75%       1.0    0.0    0.0
max       1.0    1.0    1.0