TRAIN TEST SPLIT

In [16]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
titanic=sns.load_dataset("titanic")

In [10]:
some_feature=titanic[["survived","pclass","age","parch"]]
some_feature_mean=some_feature.fillna(some_feature.mean())
some_feature_mean

     survived  pclass        age  parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [13]:
x=some_feature_mean.drop("survived",axis=1)
y=some_feature_mean["survived"]

In [14]:
print("x shape:",x.shape)
print("y shape:",y.shape)

x shape: (891, 3)
y shape: (891,)

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=51)
print("shape of x_train:",x_train.shape)
print("shape of y_train:",y_train.shape)
print("shape of x_test:",x_test.shape)
print("shape of y_test:",y_test.shape)

shape of x_train: (623, 3)
shape of y_train: (623,)
shape of x_test: (268, 3)
shape of y_test: (268,)